body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #a72b2b;
}

.about-container {
    text-align: center;
    background-color: #1c1111;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.company-logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}