table {
    width: 100%;
    border-collapse: collapse;
    margin:auto;
    
}

th, td {
    border: 1px solid #661111;
    padding: 8px;
    text-align:center
}

th {
    background-color: #d10f0f;
}

tr:hover {
    background-color: #b69a9a;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
